<div class="clients">
    <div class="wrapper-clients">
        <div class="content-clients">
            <div class="content-clients-header">
                <h2>
                    <span>What</span> Client Says
                </h2>
            </div>
            <div class="content-clients-body">
                <div class="reviews">
                    <div class="reviwes-img">
                        <div class="reviwes-arrow"></div>
                        <img src="img/cliets-rew2.png" alt="Face of table"></div>
                    <div class="reviews-content">
                        <div class="user name">Staciya Trollio</div>
                        <div class="user profession">Customer</div>
                        <div class="user-messages"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. </p></div>
                    </div>
                </div>
                <div class="reviews">
                    <div class="reviwes-img">
                        <div class="reviwes-arrow"></div>
                        <img src="img/cliets-rew1.png" alt="Face of table"></div>
                    <div class="reviews-content">
                        <div class="user name">David Soul</div>
                        <div class="user profession">Customer</div>
                        <div class="user-messages"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>