@media screen and (max-width: 999px) {
  .services-content{
    text-align: center !important;
    .content-item{
      margin: 0 5%;
    }
  }
  .wrapper-cards{
    text-align: center !important;
  }
}
@media screen and (max-width: 890px) {
  nav ul li{
    font-size: 12px;
    margin-left: 20px;
  }
  .contact{
    margin: 0 auto !important;
    float: none !important;
      ul{
        max-width: 500px !important;
        margin-left: calc(50% - 250px) !important;
      }
    .social{
      margin: 0 auto;
      max-width: 500px !important;
    }
  }
  .form-contact{
    margin: 0 auto !important;
    float: none !important;
  }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 600px) {
  .wraper-banner{
    margin: 45px auto 25px !important;
  }
  .wrapper-services{
    margin: 33px auto;
      .content-item{
        padding-top: 40px !important;
      }
  }
  .wrapper-team{
    margin: 25px auto 25px !important;
  }
}